@model OnlineTicariOtomasyon.Models.Model.Kategori

@{
    ViewBag.Title = "Kategori Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-6" style="margin:auto;">

    @using (Html.BeginForm("Edit", "Kategori", FormMethod.Post))
    {
        <div>
            @Html.HiddenFor(x=>x.KategoriId)
            <label style="font-weight:bold;">Kategori Ad</label>
            @Html.TextBoxFor(x => x.KategoriAd, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.KategoriAd, null, new { @class = "text-danger" })
            <br />
            <button style="margin-top:5px;" class="btn btn-success">Kaydet</button>
        </div>

    }
</div>

