@using OnlineTicariOtomasyon.Models.Model
@model List<Kategori>
@{
    ViewBag.Title = "Kategoriler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<a href="~/Kategori/Create/" style="margin-bottom:15px;" class="btn btn-primary">Kategori Ekle</a>
<table class="table table-bordered table-striped table-hover myDataTables">
    <thead style="text-align:center;">
        <tr>
            <th scope="col">Kategori Ad</th>
            <th style="width:150px" scope="col">İşlemler</th>
        </tr>
    </thead>
    <tbody style="text-align:center;">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.KategoriAd</td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.KategoriId }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Sil", "Delete", new { id = item.KategoriId }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istediğine emin misin?');" })
                </td>
            </tr>
        }


    </tbody>
</table>