
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2 style="text-align:center; margin-top:15px;">Kategoriler</h2>
<button style="margin-bottom:15px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Kategori Ekle</button>
<table class="myList table table-bordered table-striped table-hover">
    <thead style="text-align:center;">
        <tr>
            <th scope="col">Kategori Ad</th>
            <th style="width:150px" scope="col">İşlemler</th>
        </tr>
    </thead>
    <tbody style="text-align:center;">
        
            <tr>
                <td>aaa</td>
                <td>aaa</td>
            </tr>
        
    </tbody>
</table>