@model OnlineTicariOtomasyon.Models.Model.Departman
@{
    ViewBag.Title = "Yeni Departman";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-6" style="margin:auto;">

    @using (Html.BeginForm("Create", "Departman", FormMethod.Post))
    {
        <div>
            <label style="font-weight:bold;">Departman Ad</label>
            @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.DepartmanAd, null, new { @class = "text-danger" })
            <br />
            <button style="margin-top:5px;" class="btn btn-success">Kaydet</button>
        </div>

    }
</div>