@using OnlineTicariOtomasyon.Models.Model
@model List<Departman>
@{
    ViewBag.Title = "Departmanlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<a href="~/Departman/Create/" style="margin-bottom:15px;" class="btn btn-primary">Departman Ekle</a>
<table class="table table-bordered table-striped table-hover myDataTables">
    <thead style="text-align:center;">
        <tr>
            <th scope="col">Departman Ad</th>
            <th style="width:200px" scope="col">İşlemler</th>
        </tr>
    </thead>
    <tbody style="text-align:center;">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DepartmanAd</td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.DepartmanId }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Sil", "Delete", new { id = item.DepartmanId }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istediğine emin misin?');" })
                    @Html.ActionLink("Detay", "Detail", new { id = item.DepartmanId }, new { @class = "btn btn-info" })

                </td>
            </tr>

        }


    </tbody>
</table>