
@{
    ViewBag.Title = "Index3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index3</h2>

<img src="Url.Aciton("Index3","Grafik")" alt="Alternate Text" style="width:1920px; height:1080px;" />
