@using OnlineTicariOtomasyon.Models.Model
@model List<FaturaKalem>
@{
    ViewBag.Title = "Fatura Detay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<a href="~/FaturaKalem/Create/" style="margin-bottom:15px;" class="btn btn-primary">Yeni Fatura Kalem Girişi</a>
<table class="table table-bordered table-striped table-hover" id="example">
    <thead style="text-align:center;">
        <tr>
            <th scope="col">Açıklama</th>
            <th scope="col">Miktar</th>
            <th scope="col">Birim Fiyatı</th>
            <th scope="col">Toplam Tutar</th>
        </tr>
    </thead>
    <tbody style="text-align:center;">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Aciklama</td>
                <td>@item.Miktar</td>
                <td>@item.BirimFiyat</td>
                <td>@item.Tutar</td>
            </tr>
        }


    </tbody>
</table>

